<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>
<div class="archive content-area">
  <div class="container">
    <h1 class="entry-title"><%- title %></h1>
    <div class="main-container">
      <div class="timeline">
        <% var last = 0, year, yearArr = []; %>
        <% page.posts.sort('date', -1).each(function(post) { %>
        <% year = post.date.year(); %>
        <% if (yearArr.length != 0){ %>
        <% } %>
        <% yearArr.push(year); %>
        <% last = year; %>
        <p><span><%= date(post.date, 'MM-DD') %></span>
          <a href="<%- url_for(post.path) %>"><span class="tile-title"><%- post.title %></span></a></p>
        <% }) %>
      </div>
      <%- partial('_partial/pagination') %>
    </div>
  </div>
</div>