<div class="padding-70"></div>
<div class="padding-25"></div>
<div class="mdui-container">
    <div class="mdui-row">
        <div class="mdui-col-xs-2">
            <ul class="mdui-list">
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">camera</i>
                    <div class="mdui-list-item-content"><%- page.data.aperture %></div>
                </li>
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">timer</i>
                    <div class="mdui-list-item-content"><%- page.data.shutter %></div>
                </li>
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">donut_large</i>
                    <div class="mdui-list-item-content"><%- page.data.focal %></div>
                </li>
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">iso</i>
                    <div class="mdui-list-item-content"><%- page.data.iso %></div>
                </li>
            </ul>
        </div>
        <div class="mdui-col-xs-8">
            <div class="mdui-card">
                <div class="mdui-card-media">
                    <img src="<%- page.src %>" />
                </div>
            </div>
            <div class=" mdui-row-xs-2">
                <div class="mdui-col">
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">photo_camera</i>
                        <div class="mdui-list-item-content"><%- page.data.camera %></div>
                    </li>
                </div>
                <div class="mdui-col">
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">blur_circular</i>
                        <div class="mdui-list-item-content"><%- page.data.len %></div>
                    </li>
                </div>
            </div>
        </div>
        <div class="mdui-col-xs-2">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title"><%- page.title || theme.default_post_title || "Untitled" %></div>
            </div>
            <div class="mdui-card-content"></div>
        </div>
    </div>
</div>
<div class="padding-70"></div>