<div class="content-area">
    <div class="post">
        <div class="padding-25"></div>
        <div class="mdui-container">
            <div class="mdui-row">
                <div class="mdui-col-md-2 mdui-col-xs-down"></div>
                <div class="mdui-col-md-8 mdui-col-xs-12">
                    <div class="mdui-card mdui-shadow-0">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">
                                <%- page.title %>
                                <div class="mdui-card-primary-subtitle"
                                    style="padding-top: 5px; font-size: .75rem !important;">
                                    <%= page.date.format(config.date_format) %></div>
                                <% if (page.tags) { %>
                                <div class="mdui-card-primary-subtitle"
                                    style="padding-top: 2px; font-size: .75rem !important;">
                                    <div class="tags-links">
                                        <% page.tags.each(function(tag){ %>
                                        <a href="<%= config.root %>tags/<%= tag.name %>/" style="color:#000;" rel="tag">
                                            <%- tag.name %>
                                        </a>
                                        <% }); %>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="mdui-card-content post-content">
                            <%- page.content %>
                        </div>
                        <%- partial('_partial/comment') %>
                    </div>
                </div>
                <div class="mdui-col-md-2 mdui-col-xs-down"></div>
            </div>
            <div class="padding-70"></div>
            <div class="mdui-row">
                <div class="mdui-col-md-2 mdui-col-xs-down"></div>
                <div class="mdui-col-md-8 mdui-col-xs-12">
                    <% if (page.prev) { %>
                    <a href="<%- config.root %><%- page.prev.path %>" rel="prev">
                        <div class="mdui-card mdui-shadow-0 post-nav prev">
                            <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
                                <div class="mdui-card-primary">
                                    <div class="mdui-card-primary-title" style="color: white">
                                        <%- __('prev')%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <% } %>
                    <% if (page.next) { %>
                    <div class="padding-25"></div>
                    <a href="<%- config.root %><%- page.next.path %>" rel="next">
                        <div class="mdui-card mdui-shadow-0 post-nav next">
                            <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
                                <div class="mdui-card-primary">
                                    <div class="mdui-card-primary-title" style="color: white">
                                        <%- __('next')%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <% } %>
                </div>
                <div class="mdui-col-md-2 mdui-col-xs-down"></div>
            </div>
            <div class="padding-70"></div>
        </div>
    </div>
</div>
</div>