<div class="padding-70"></div>
<div class="mdui-container">
  <div class="mdui-row">
    <div class="mdui-col-md-2 mdui-col-xs-down"></div>
    <div class="mdui-col-md-8 mdui-col-xs-12">
      <div class="padding-25 noprn"></div>
      <div class="mdui-typo-display-1 mdui-text-center">
        <%= page.title %>
      </div>
      <div class="padding-25"></div>
      <form onSubmit="return appDaily.submitSearch('<%- config.search_engines %>')">
        <div class="mdui-textfield mdui-textfield-floating-label">
          <label class="mdui-textfield-label">Search</label>
          <input class="mdui-textfield-input" id="homeSearchInput" />
        </div>
      </form>
      <ul class="mdui-list mdui-list-dense">
        <% if (site.data.search) { %>
        <% for (var i in site.data.search) { %>
        <a href="<%- site.data.search[i].url %>">
        <li class="mdui-list-item mdui-ripple mdui-hoverable">
          <div class="mdui-list-item-content">
            <div class="mdui-list-item-title"><%= i %></div>
            <div class="mdui-list-item-text mdui-list-item-one-line"><%- site.data.search[i].descr %></div>
          </div>
        </li>
      </a>
        <% } %>
        <% } %>
        <div class="padding-70"></div>
      </ul>
    </div>
    <div class="mdui-col-md-2 mdui-col-xs-down"></div>
  </div>
</div>