<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>
<div class="mdui-container">
  <div class="content-area">
    <div class="mdui-row">
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
      <div class="mdui-col-md-10 mdui-col-xs-12">
        <section class="itp-blog-list">
          <div class="mdui-card-primary-title" style="padding: 20px 0">分类</div>
          <section class="article categories" style="list-style-type: none;">
            <div class="mdui-chip">
            <%- list_categories({
            show_count: false,
            amount: 5,
            class: 'mdui-chip-title',
            style: 'none',
            separator: '</div><div class="mdui-chip">'
            }) %>
          </section>
          <% var groupObj = _.groupBy(page.posts.toArray(), function(p){return -p.date.format('YYYY')}) %>
          <% for (var year in groupObj){ %>
          <div class="mdui-card-primary-title" style="padding: 20px 0"><%- -year %></div>
          <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-lg-3">
            <%- partial('_partial/article-archive', {posts: groupObj[year]}) %>
          </div>
          <% } %>
          <div class="index-pagination">
            <% if (page.prev){ %>
            <a href="<%- config.root %><%- page.prev_link %>" class="index-pagination-btn"><%- __('prev')%></a>
            <% } %>
            <% if (page.next){ %>
            <a href="<%- config.root %><%- page.next_link %>" class="index-pagination-btn"><%- __('next')%></a>
            <% } %>
          </div>
        </section>
      </div>
    </div>
    <div class="mdui-col-md-1 mdui-col-xs-down"></div>
  </div>
</div>
</div>