<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>
<div class="mdui-container">
  <div class="content-area">
    <div class="mdui-row">
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
      <div class="mdui-col-md-10 mdui-col-xs-12">
        <div class="itp-index-header">
          <div class="itp-index-header-cover" style="background-image: url(<%- page.cover || theme.header.img %>);">
            <div class="mdui-card-primary-title itp-index-title mdui-text-center" style="color: #fff; opacity: 1;">
              文章</div>
            <div class="mdui-card-primary-subtitle itp-index-subtitle mdui-text-center"
              style="color: #fff; opacity: 0.8;">
              <%- config.title %></div>
          </div>
        </div>
        <section class="itp-blog-list">
          <div class="mdui-card-primary-title mdui-text-center" style="padding: 20px 0"> - 分类 - </div>
          <section class="article categories mdui-text-center" style="list-style-type: none;">
            <%- list_categories({
            show_count: false,
            amount: 5,
            class: 'archive',
            style: '',
            separator: ''
            }) %>
          </section>
          <% var groupObj = _.groupBy(page.posts.toArray(), function(p){return -p.date.format('YYYY')}) %>
          <% for (var year in groupObj){ %>
          <div class="mdui-card-primary-title mdui-text-center" style="padding: 20px 0"> - <%- -year %> - </div>
          <%- partial('_partial/article-archive', {posts: groupObj[year]}) %>
          <% } %>
          <div class="index-pagination">
            <% if (page.prev){ %>
            <a href="<%- config.root %><%- page.prev_link %>" class="index-pagination-btn"><%- __('prev')%></a>
            <% } %>
            <% if (page.next){ %>
            <a href="<%- config.root %><%- page.next_link %>" class="index-pagination-btn"><%- __('next')%></a>
            <% } %>
          </div>
        </section>
      </div>
    </div>
    <div class="mdui-col-md-1 mdui-col-xs-down"></div>
  </div>
</div>
</div>