<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>
<div class="mdui-container">
  <div class="content-area">
    <div class="mdui-row">
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
      <div class="mdui-col-md-10 mdui-col-xs-12">
        <div class="itp-index-header">
          <div class="itp-index-header-cover" style="background-image: url(<%- page.cover || theme.header.img %>);">
            <div class="mdui-card-primary-title itp-index-title mdui-text-center" style="color: #fff; opacity: 1;">
              <%- title %></div>
            <div class="mdui-card-primary-subtitle itp-index-subtitle mdui-text-center"
              style="color: #fff; opacity: 0.8;">
              <%- config.title %></div>
          </div>
        </div>
        <section>
          <% var groupObj = _.groupBy(page.posts.toArray(), function(p){return -p.date.format('YYYY')}) %>
          <% for (var year in groupObj){ %>
          <%- partial('_partial/article-archive', {posts: groupObj[year]}) %>
          <% } %>
        </section>
        <%- partial('_partial/index-pagination') %>
      </div>
    </div>
    <div class="mdui-col-md-1 mdui-col-xs-down"></div>
  </div>
</div>
</div>