<%- partial('_partial/page-cover') %>
<div class="mdui-container">
  <div class="mdui-row">
    <div class="mdui-col-md-1 mdui-col-xs-down"></div>
    <div class="mdui-col-md-10 mdui-col-xs-12">
      <div class="mdui-card mdui-shadow-0 itp-index-card">
        <div class="mdui-card-primary itp-index-header">
          <div class="mdui-card-primary-title itp-index-title"><%= config.title %></div>
          <div class="mdui-card-primary-subtitle itp-index-subtitle"><%- config.description %></div>
        </div>
        <div class="mduimdui-card-primary itp-index-content">
          <% page.posts.each(function(item, itemIndex){ %>
          <%- partial('_partial/post-index', {item: item}) %>
          <% }); %>
          <div class="index-pagination">
            <% if (page.prev){ %>
            <a href="<%- config.root %><%- page.prev_link %>" class="index-pagination-btn"><%- __('prev')%></a>
            <% } %>
            <% if (page.next){ %>
            <a href="<%- config.root %><%- page.next_link %>" class="index-pagination-btn"><%- __('next')%></a>
            <% } %>
          </div>
        </div>
      </div>

    </div>
    <div class="mdui-col-md-1 mdui-col-xs-down"></div>
  </div>
</div>