<% if(theme.comment.use == 'gitment') { %>
  <div id="container"></div>
  <script>
    var gitment = new Gitment({
      id: '<%- page.comment_id || page.date %>', // 可选。默认为 location.href
      owner: '<%= theme.comment.gitment.owner %>',
      repo: '<%= theme.comment.gitment.repo %>',
      oauth: {
        client_id: '<%= theme.comment.gitment.client_id %>',
        client_secret: '<%= theme.comment.gitment.client_secret %>',
      },
      theme: myGitmentTheme,
    })
    gitment.render('container')
  </script>
  <% } else if ( theme.comment.use == 'valine') { %>
  <div id="vcomments"></div>
  <script>
    new Valine({
      el: '#vcomments',
      appId: '<%= theme.comment.valine.appid %>',
      appKey: '<%= theme.comment.valine.appkey %>',
      path: '<%- url_for(path) %>',
      avatar: 'identicon'
    })
  </script>
  <% } %>