<header class="#site-header">
  <div class="mdui-appbar mdui-appbar-fixed mdui-color-white">
    <div class="mdui-toolbar mdui-color-theme">
      <a href="<%= url_for() %>">
        <img class="mdui-img-fluid mdui-typo-title" src="https://imgur.itypen.com/picgo/144.png" style="max-width: 45px; margin-left:25px;">
      </a>
      <!--<a href="<%= url_for() %>" class="mdui-typo-title" style=""><%- config.title %></a>-->
      <div class="mdui-toolbar-spacer"></div>
      <div class="nav-menu">
        <% for (var i in theme.nav) { %>
        <a href="<%- theme.nav[i].link %>" class="mdui-btn"><%- i %></a>
        <% } %>
      </div>
    </div>
  </div>
</header>