<header class="#site-header">
  <div class="mdui-appbar mdui-appbar-fixed mdui-color-white">
    <div class="mdui-toolbar mdui-color-theme">
      <a href="<%= url_for() %>" class="mdui-typo-headline" style="margin-left:25px;"><%- config.title %></a>
      <!--<a href="javascript:;" class="mdui-typo-title"><%- config.subtitle %></a>-->
      <div class="mdui-toolbar-spacer"></div>
      <div class="nav-menu">
        <% for (var i in theme.nav) { %>
          <a href="<%- theme.nav[i].link %>" class="mdui-btn"><%- i %></a>
        <% } %>
          </div>
    </div>
  </div>
</header>