<% if (page.prev || page.next){ %>
<div class="padding-70"></div>
<div class="container noprn">
  <a href="<%- config.root %><%- page.prev_link %>">
    <div class="mdui-card mdui-shadow-0 post-nav prev">
      <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
        <div class="mdui-card-primary">
          <div class="mdui-card-primary-title" style="color: white">
            <%- __('prev')%>
          </div>
        </div>
      </div>
    </div>
</div>
</a>
<% } %>
<% if (page.next){ %>
<div class="padding-25"></div>
<div class="container noprn">
  <a href="<%- config.root %><%- page.next_link %>">
    <div class="mdui-card mdui-shadow-0 post-nav next">
      <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
        <div class="mdui-card-primary">
          <div class="mdui-card-primary-title" style="color: white">
            <%- __('next')%>
          </div>
        </div>
      </div>
    </div>
</div>
</a>
<% } %>
<div class="padding-70"></div>