<!DOCTYPE HTML>
<!--
	Multiverse by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title><%= theme.gallery.title %></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<%- css('gallery/assets/css/main') %>
	<noscript>
		<link rel="stylesheet" href="/gallery/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1><a href="../"><strong><%= config.title %></strong> - <%= __('gallery') %></a></h1>
			<nav>
				<ul>
					<li><a href="#footer" class="icon solid fa-info-circle">About</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main">
			<% for (var i in site.data.image) { %>
			<article class="thumb">
				<a href="<%- site.data.image[i].src %>" class="image"><img
						src="<%- site.data.image[i].thumb || site.data.image[i].src %>" alt="" /></a>
				<h2><%- site.data.image[i].title || i %></h2>
				<p><%- site.data.image[i].descr %></p>
			</article>
			<% } %>
		</div>

		<!-- Footer -->
		<footer id="footer" class="panel">
			<div class="inner split">
				<div>
					<section>
						<h2><%= theme.gallery.descr_title %></h2>
						<p><%= theme.gallery.descr %></p>
					</section>
					<p class="copyright">
						&copy; <%= config.title %>. Design by <a href="http://html5up.net">HTML5 UP</a>.
					</p>
				</div>
				<div><!--
					<section>
						<h2>Get in touch</h2>
						<form method="post" action="#">
							<div class="fields">
								<div class="field half">
									<input type="text" name="name" id="name" placeholder="Name" />
								</div>
								<div class="field half">
									<input type="text" name="email" id="email" placeholder="Email" />
								</div>
								<div class="field">
									<textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Send" class="primary" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</form>
					</section>-->
				</div>
			</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
	<script src="/gallery/assets/js/jquery.poptrox.min.js"></script>
	<script src="/gallery/assets/js/browser.min.js"></script>
	<script src="/gallery/assets/js/breakpoints.min.js"></script>
	<script src="/gallery/assets/js/util.js"></script>
	<script src="/gallery/assets/js/main.js"></script>
	<%- js('js/gallery.js') %>
</body>

</html>